@using JustTaskTracker.WebUI.Domain.Boards
@using JustTaskTracker.WebUI.Services.Abstractions.Boards
@implements IDisposable
@inject IBoardTaskSearchStore BoardTaskSearchStore
@inject NavigationManager Navigation

<div class="board-task-search-overlay"
     role="dialog"
     aria-label="Task search results"
     @onmousedown:preventDefault>
    @if (BoardTaskSearchStore.IsLoading && BoardTaskSearchStore.Tasks.Count == 0)
    {
        <div class="board-task-search-overlay__state">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Small" />
        </div>
    }
    else if (BoardTaskSearchStore.ErrorMessage is { } error)
    {
        <div class="board-task-search-overlay__state">
            <p class="board-task-search-overlay__message">@error</p>
        </div>
    }
    else if (BoardTaskSearchStore.Tasks.Count == 0)
    {
        <div class="board-task-search-overlay__state">
            <p class="board-task-search-overlay__message">No tasks found.</p>
        </div>
    }
    else
    {
        <ul class="board-task-search-overlay__list">
            @foreach (var task in BoardTaskSearchStore.Tasks)
            {
                <li class="board-task-search-overlay__item">
                    <BoardTaskSearchResultItem Task="task"
                                               OnClick="OnTaskClickAsync" />
                </li>
            }

            @if (BoardTaskSearchStore.HasMoreTasks)
            {
                <li class="board-task-search-overlay__item board-task-search-overlay__item--action">
                    <ExpandableActionButton Text="Show more"
                                            Icon="ExpandableActionButtonIcon.ChevronDown"
                                            Disabled="@BoardTaskSearchStore.IsLoadingMoreTasks"
                                            OnClick="LoadMoreTasksAsync" />
                </li>
            }
        </ul>
    }
</div>

@code {
    protected override void OnInitialized() =>
        BoardTaskSearchStore.StateChanged += OnStoreStateChanged;

    public void Dispose() =>
        BoardTaskSearchStore.StateChanged -= OnStoreStateChanged;

    private void OnStoreStateChanged() =>
        InvokeAsync(StateHasChanged);

    private Task LoadMoreTasksAsync() =>
        BoardTaskSearchStore.LoadMoreAsync();

    private void OnTaskClickAsync(BoardTaskLookupDto task)
    {
        if (BoardTaskSearchStore.BoardId is not { } boardId)
            return;

        BoardTaskSearchStore.Close();
        Navigation.NavigateTo(BoardTaskRoutes.GetTaskUrl(boardId, task.ColumnId, task.Id));
    }
}
